<div class="banner">
  <div class="navbar">
    <img
      routerLink="/home"
      src="../../../assets/logo/Logo-HI.png"
      class="logo"
    />
    <marquee width="60%" direction="up" height="100px" scrollamount="1">
      Welcome to our Home Interiors Wonderland! Explore the latest trends in
      interior design, from chic minimalist styles to vibrant eclectic spaces.
      Transform your home into a sanctuary of style and comfort with our curated
      collection of furniture, decor, and accessories. Discover inspiration for
      every room, from the cosy warmth of the living room to the serene
      tranquility of the bedroom. Elevate your home with our timeless pieces and
      create a space that truly reflects your personality and lifestyle. Shop
      now and embark on a journey to redefine luxury living!
    </marquee>
  </div>
</div>
