<div class="history-section bg-light text-dark pt-3">
  <h2 class="text-center title--wrapper w-100">Why Choose Us?</h2>
  <p class="text-center sub-title--wrapper">
    We are the largest design set-up in India with over 15 years of experience
    in home interiors and modular solutions
  </p>
  <div class="image-section--wrapper">
    <div class="image--wrapper">
      <img
        src="../../../assets/Images/home-page/home-image2.avif"
        alt=""
        width="100%"
      />
    </div>
    <div class="content--wrapper">
      <div class="row-section">
        <div class="row">
          <div class="col-md-3 client-parts border-box--wrapper">
            <div>
              <p class="mb-0 text-center">54</p>
              <p class="mb-0 text-center">Cities</p>
            </div>
          </div>
          <div class="col-md-3 client-parts border-box--wrapper">
            <div>
              <p class="mb-0 text-center">100+</p>
              <p class="mb-0 text-center">Design Studios</p>
            </div>
          </div>
          <div class="col-md-3 client-parts border-box--wrapper">
            <div>
              <p class="mb-0 text-center">1.5 Million+</p>
              <p class="mb-0 text-center">Homes Designed</p>
            </div>
          </div>
          <div class="col-md-3 client-parts">
            <div>
              <p class="mb-0 text-center">END TO END</p>
              <p class="mb-0 text-center">Project Management</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-3 client-parts border-box--wrapper">
            <div>
              <p class="mb-0 text-center">100+</p>
              <p class="mb-0 text-center">In-House Designers</p>
            </div>
          </div>
          <div class="col-md-3 client-parts border-box--wrapper">
            <div>
              <p class="mb-0 text-center">200+</p>
              <p class="mb-0 text-center">Empanelled contractors</p>
            </div>
          </div>
          <div class="col-md-3 client-parts border-box--wrapper">
            <div>
              <p class="mb-0 text-center">QUALITY</p>
              <p class="mb-0 text-center">Assurance</p>
            </div>
          </div>
          <div class="col-md-3 client-parts">
            <div>
              <p class="mb-0 text-center">100%</p>
              <p class="mb-0 text-center">Transparent pricing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
