<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mt-2">
        <h5>Furniture</h5>
        <p class="mb-0">Living Room Furniture</p>
        <p class="mb-0">Dining & Kitchen Furniture</p>
        <p class="mb-0">Bar Furniture</p>
        <p class="mb-0">Badroom Furniture</p>
        <p class="mb-0">Mattresses</p>
        <p class="mb-0">Kids Furniture</p>
        <p class="mb-0">Study & Office Furniture</p>
        <p class="mb-0">Accent Furniture</p>
        <p class="mb-0">Shoe Racks</p>
        <p class="mb-0">Book Shelves</p>
      </div>
      <div class="col-md-3 mt-2">
        <h5>Home Decore</h5>
        <p class="mb-0">Idols & Figurines</p>
        <p class="mb-0">Clocks</p>
        <p class="mb-0">Candles & Fragrances</p>
        <p class="mb-0">Votives & Candle Holder</p>
        <p class="mb-0">Wall Decore</p>
        <p class="mb-0">Mirrors</p>
        <p class="mb-0">Table Decore</p>
        <p class="mb-0">Vases & Flowers</p>
        <p class="mb-0">Garden</p>
      </div>
      <div class="col-md-3 mt-2">
        <h5>Home Furnishings</h5>
        <p class="mb-0">Bedding</p>
        <p class="mb-0">Pillows</p>
        <p class="mb-0">Protectors</p>
        <p class="mb-0">Covers & Inserts</p>
        <p class="mb-0">Curtains</p>
        <p class="mb-0">Mats & Rugs</p>
        <p class="mb-0">Bath Linen</p>
        <p class="mb-0">Bath Accessories</p>
        <p class="mb-0">Table Linen</p>
        <p class="mb-0">Essentials</p>
        <p class="mb-0">Brands</p>
      </div>
      <div class="col-md-3 mt-2">
        <h5>Tableware & Kitchenware</h5>
        <p class="mb-0">Drinkware</p>
        <p class="mb-0">Food Storage</p>
        <p class="mb-0">Crockery</p>
        <p class="mb-0">Cookware</p>
        <p class="mb-0">Coffee & Tea</p>
        <p class="mb-0">Table Essentials</p>
        <p class="mb-0">Kitchen Accessories</p>
        <p class="mb-0">Kitchen Appliances</p>
        <p class="mb-0">Brands</p>
        <p class="mb-0">Home Basics</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p class="mb-0">
          &copy; {{ currentYear }} HouseCraft. All rights reserved.
        </p>
      </div>
      <div class="col-md-6">
        <ul class="footer-links">
          <li>
            <div class="d-flex align-items-center justify-content-between">
              <p class="mb-0">Privacy Policy</p>
              <p class="mb-0">Terms of Service</p>
              <p class="mb-0">Contact Us</p>
              <p class="mb-0">About Us</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center">
      Designed and Developed with ❤️ by Kevalsinh Gohil.
    </div>
  </div>
</footer>
