<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/Images/carousel/carousel-1.jpg" class="d-block w-100 carousel-image--wrapper"
                alt="First slide" />
        </div>
        <div class="carousel-item">
            <img src="../../assets/Images/carousel/carousel-2.jpg" class="d-block w-100 carousel-image--wrapper"
                alt="Second slide" />
        </div>
        <div class="carousel-item">
            <img src="../../assets/Images/carousel/carousel-3.jpg" class="d-block w-100 carousel-image--wrapper"
                alt="Second slide" />
        </div>
        <div class="carousel-item">
            <img src="../../assets/Images/carousel/carousel-4.jpg" class="d-block w-100 carousel-image--wrapper"
                alt="Second slide" />
        </div>
        <!-- Add more carousel items as needed -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- </div> -->
<!-- <app-footer></app-footer> -->
<app-home-history></app-home-history>
